body{

    display: flex;
    align-items: center;
    justify-content: center;

    .frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #radio{
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;


        }

        .rand-box{
            width: 400px;
            height: 150px;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
        }

        .dollar-box{
            width: 400px;
            height: 150px;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
        }
        
        .euro-box{
            width: 400px;
            height: 150px;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
        }
    }
}